<body>
<table border="1">
        <thead>
        <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Remote</th>
            <th>URL</th>
        </tr>
        </thead>
    <tbody>
    <tr th:each="offer : ${offerList}">
        <td th:text="${offer.company}"></td>
        <td th:text="${offer.position}"></td>
        <td th:text="${offer.salary}"></td>
        <td th:text="${offer.remote}"></td>
        <td th:text="${offer.url}"></td>
    </tr>
    </tbody>
</table>
</body>
<div class="footer"
     style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px;">
    <table width="100%"
           style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <tbody>
        <tr
                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="aligncenter content-block"
                style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0 20px;"
                align="center" valign="top"><a th:href="${url}"
                                               style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; color: #999; text-decoration: underline; margin: 0;">Unsubscribe</a>
                from these alerts.
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>